.container {
    position: 'relative';
    display: 'flex';
    justify-content: 'center';
    max-width: 1200px;
    margin: 0 auto;
  }
  
.image {
    display: block;
    max-width: 100%;
  }
  
  @media (max-width: 600px) {
    .image {
      max-height: 200px;
    }
  }